@font-face {
	font-family: Blackout;
	src: url(../font/blackout.ttf);
}
@font-face {
	font-family: BlackoutSunrise;
	src: url(../font/blackout-sunrise.ttf);
}
body {
	background-color: black;
	font: 2em Blackout;
	letter-spacing: 6px;
	color: black;
	padding: 0;	
	margin: 0;
}
h1, .show {
	font-family: BlackoutSunrise;
	text-align: center;
	margin-bottom: 2%;;
	margin-top: 2%;
	color: white;
	font-weight: lighter;
}
span {
	font-family: Blackout;
	color: rgb(119, 119, 119);
	font-size: 1.05em;
}
.autoral {
	color: rgb(197, 197, 197);
	font-size: 1.4em;
	font-variant: small-caps;
	margin-top: 0%;
	font-family: sans-serif;
	letter-spacing: 1px;
	font-weight: lighter;
}
.show {
	margin:0;
	margin-bottom: 1%;
	font-size: 1.6em;
}
h3 {
	margin: 0;
	font-size: 1.4em;
}
div {
	width: 50%;
	text-align: center; 
}
div p {
	font-family: sans-serif;
	text-shadow: none;
	color: rgb(113, 113, 113);
	letter-spacing: 1px;
	text-align: justify;
	font-size: 0.8em;
	margin: 0% 2% 5% 2%; 
}
.linkshow {
	display: inline-table;
	width: 100%;
}
.linkshow p {
	float: left;
	width: 50%;
	text-align: center;
	margin: 0;
	margin-top: 4%;
	font-variant: small-caps;
}